.staff {
    &-container {
        width: 100%;
        padding: 0px 15px 50px;
    }

    &-content {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;

        &-title {
            text-align: center;
            font-family: 'Nunito', sans-serif;
            font-size: 28px;
            font-weight: 700;
            color: $color-primary-dark;
            margin-bottom: 15px;

            span {
                color: $color-accent;
            }
        }

        &-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            p {
               text-align: center;
               font-family: 'Nunito', sans-serif;
               font-size: 14px;
               font-weight: 400;
               color: $color-secondary-dark;
               margin-bottom: 30px;
            }
            
            &-button {
                flex-shrink: 0;
                width: 167px;
                height: 40px;
                font-size: 16px;
                font-weight: 700;
                font-family: 'Nunito', sans-serif;
                border: none;
                border-radius: 5px;
                color: $color-primary-light;
                background-color: $color-accent;
            }
        }

        &-mobile-list {
            list-style: none;
            padding: 0;
            margin-bottom: 30px;

            &-item {
                position: relative;
                font-size: 0;

                img {
                    width: 100%;
                    max-width: 360px;
                }

                div {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    max-width: 360px;
                    height: 62px;
                    text-align: center;
                    background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
                    border-radius: 5px;
                    

                    h3 {
                        font-family: 'Nunito', sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        color: $color-primary-light;
                        padding-top: 7px;
                    }

                    p {
                        font-family: 'Nunito', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: $color-primary-light;

                    }
                }
            }
        }
        &-slider {
            display: flex;
            justify-content: center;
            
        }

        &-list {
            display: none;
        }
    }


        // slider section staff
        .slick-dots {
            bottom: -44px;

            li {
                width: 20px;
                height: 6px;
                border-radius: 8px;
                background-color: $color-accent;

                button::before {
                    content: '';
                }
            }

            .slick-active {
                width: 50px;
            }
        }
}

@media (min-width: 768px) {
    .staff {
        &-container {
            padding: 0px 20px 50px;
        }

        &-content {
            max-width: 904px;

            &-title {
                text-align: start;
            }

            &-description {
                flex-direction: row;
                justify-content: space-between;

                p {
                    text-align: start;
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }

            &-mobile-list,
            &-slider {
                display: none;
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                max-width: 500px;
                margin: 0 auto;
                padding: 0;
                gap: 20px;
                list-style: none;

                &-item {
                    position: relative;
                    font-size: 0;

                    img {
                        width: 230px;
                    }

                    div {
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        max-width: 230px;
                        height: 62px;
                        text-align: center;
                        background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
                        border-radius: 5px;

                        h3 {
                            font-family: 'Nunito', sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            color: $color-primary-light;
                        }
    
                        p {
                            font-family: 'Nunito', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            color: $color-primary-light;
    
                        }
                    }
                }

                &-item:hover {
                    cursor: pointer;

                    div {
                        height: 100%;
                        transition: all 0.2s ease-in;
                    }
                }

            }
        }
    }
}

@media (min-width: 1024px) {
    .staff {
        &-container {
            padding: 0 60px 50px;
        }

        &-content {
            max-width: 1052px;

            &-title {
                font-size: 35px;
            }

            &-description {
                p {
                    font-size: 16px;
                    margin-right: 95px;
                }
            }

            &-list {
                max-width: 1052px;

                &-item {
                    div {
                        height: 82px;

                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .staff {
        &-container {
            padding: 0px 180px 100px;
        }

        &-content {
            max-width: 1410px;

            &-description-button {
                width: 190px;
                height: 50px;
                font-size: 18px;
            }

            &-list {
                flex-wrap: nowrap;
                max-width: 1410px;
                gap: 30px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .staff {
        &-container {
            padding: 0px 190px 100px;
        }

        &-content {
            &-title {
                font-size: 45px;
                margin-bottom: 30px;
            }

            &-description {
                p {
                    font-size: 18px;
                    margin-right: 264px;
                }
            }

            &-list {
                max-width: 3500px;

                &-item {
                    img {
                        width: 330px;
                    }

                    div {
                        max-width: 330px;
                        height: 90px;

                        h3 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}